* {
  font-family: "Montserrat";
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section{
  scroll-snap-align: start;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 140px;
  height: auto;
}

.navigation-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0px;
  margin: 10px 0px;
}

.nav--item a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
}

.nav--item a:hover {
  text-decoration: underline;
  color: #2f2f2f;
}

.carousel-item img {
  height: 40vh;
  width: max-content;
  object-fit: cover;
  position: relative;
  filter: brightness(75%);
}

.carousel-caption {
  padding: 24px;
  position: absolute;
  top: 20%;
  display: block;
  padding: 0;
}

.carousel-caption h5 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Zen Antique";
}

.carousel-caption p{
  font-size: 20px;
}

.text-center {
  font-weight: 500;
}

.projects {
  background-color: #2f2f2f14;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  padding: 20px;
}

.project-container::-webkit-scrollbar {
  display: none;
}

.project {
  position: relative;
  scroll-snap-align: center;
}

.project div {
  position: absolute;
  bottom: 10px;
  width: 300px;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project img {
  width: 300px;
  height: 450px;
  object-fit: cover;
  filter: brightness(75%);
  transition: filter 0.3s ease-in-out;
}

.project:hover img {
  filter: brightness(50%);
}

.project:hover div {
  opacity: 1;
}

.project p{
  color: white;
  font-size: 24px;
  font-family: "Arial";
}

.project span {
  background-color: #0000006e;
  color: white;
  line-height: 30px;
  border-radius: 15px;
  padding: 4px 10px;
}

.project span img {
  height: 15px;
  width: 15px;
  margin-bottom: 4px;
  margin-right: 4px;
}

footer{
  background-color: #152238;
  display: flex;
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
  }

  .logo {
    height: 100px;
    width: auto;
  }

  .navigation-panel {
    gap: 18px;
  }

  .carousel-item img {
    height: 80vh;
  }

  .carousel-caption {
    top: 38%;
  }

  .carousel-caption h5 {
    font-size: 48px;
  }
}
